@import 'assets/tokens.scss';

.app-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  background: #191C28;
  >*{
    z-index: 1;
  }
  .header-divider{
    width: 1px;
    height: 20px;
    background-color: $white-16;
  }
  .header-logo{
    padding: 5px 0;
    padding-left: 6px;
    img{
      display: block;
      height: 30px;
    }
  }
  .header-back{
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
    &:hover{
      background: $black;
    }
    svg{
      display: block;
    }
  }
  .header-space{
    flex: 1;
  }
  .header-filename{
    padding: 0 10px;
    font-weight: bold;
  }
  .header-pagename{
    position: absolute;
    left: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    transform: translateX(-50%);
    >span{
      color: $white-36;
    }
  }
  .header-operates{
    display: flex;
    align-items: center;
    span, a{
      display: inline-block;
      height: 40px;
      padding: 13px;
      transition: background 0.2s;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background: $black;
      }
    }
  }
}

.header-overlay{
  .rc-tooltip-inner{
    padding: 20px!important;
    h3{
      margin-top: 0;
    }
  }
  &-settings{
    .rc-tooltip-arrow{
      right: 15px!important;
    }
  }
  &-changelog{
    .rc-tooltip-arrow{
      right: 45px!important;
    }
    h2{
      margin-top: 0;
      margin-bottom: 12px;
    }
    .changelog-content{
      max-height: 500px;
      overflow: auto;
      h2{
        margin-top: 12px;
        margin-bottom: 4px;
      }
      ul{
        padding-left: 16px;
      }
      li{
        list-style-type: disc;
      }
    }
  }
}
