@import '~assets/tokens.scss';

.app-header{
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  background: #191C28;
  >*{
    z-index: 1;
  }
  .header-framercn-logo{
    padding: 10px 12px;
    padding-right: 6px;
    img{
      display: block;
      height: 20px;
    }
  }
  .header-divider{
    width: 1px;
    height: 20px;
    background-color: $white-16;
  }
  .header-logo{
    padding: 5px 0;
    padding-left: 6px;
    img{
      display: block;
      height: 30px;
    }
  }
  .header-back{
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
    &:hover{
      background: $black;
    }
    svg{
      display: block;
    }
  }
  .header-space{
    flex: 1;
  }
  .header-filename{
    padding: 0 10px;
    font-weight: bold;
  }
  .header-pagename{
    position: absolute;
    left: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    transform: translateX(-50%);
    >span{
      color: $white-36;
    }
  }
  .header-operates{
    span, a{
      display: inline-block;
      height: 40px;
      padding: 13px;
      transition: background 0.2s;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background: $black;
      }
    }
  }
  .header-loader{
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background: #232a4a;
    transition: width 0.2s;
    z-index: 0;
  }
}

.header-overlay{
  .rc-tooltip-inner{
    padding: 20px!important;
    h3{
      margin-top: 0;
    }
  }
  &-settings{
    .rc-tooltip-arrow{
      right: 15px!important;
    }
  }
  &-exported{
    .rc-tooltip-arrow{
      right: 9px!important;
    }
  }
}
