@import 'assets/tokens.scss';

.props-text{
  .text-content{
    position: relative;
    margin-bottom: 10px;
    .content-copy{
      position: absolute;
      top: 8px;
      right: 6px;
      width: 14px;
      height: 14px;
      color: $white-36;
      cursor: pointer;
      transition: color 0.2s;
      &:hover{
        color: $white-85;
      }
    }
    .content-box{
      max-height: 70px;
      padding: 8px 12px;
      padding-right: 24px;
      border-radius: 2px;
      background: #1C1F2A;
      font-size: 12px;
      white-space: pre-wrap;
      overflow: auto;
      .box-piece{
        margin: 0;
        padding: 0 3px;
        border-radius: 2px;
        cursor: pointer;
        &.selected{
          background: rgba($color: #FFF, $alpha: 0.2);
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .section-helper{
      display: inline-block;
      margin-top: 5px;
      cursor: pointer;
      &:hover{
        color: $white-85;
      }
    }
  }
}
