@import 'assets/tokens.scss';
@import '~prismjs/themes/prism-tomorrow.css';

.right-props{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222531;
  overflow: auto;
  z-index: 1;
  transition: transform 0.2s;
  &-starting{
    transform: translateX(260px);
  }
  &-entering,
  &-entered {
    transform: translateX(0);
  }
  &-leaving,
  &-leaved{
    transform: translateX(260px);
  }
  .props-section{
    padding: 12px;
    border-bottom: 1px solid #383941;
    &:last-child{
      border-bottom: none;
    }
    .section-title{
      display: flex;
      align-items: center;
      margin: 0;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      .title-name{
        flex: 1;
      }
      &.section-name{
        margin: 0;
        span{
          flex: 1;
          margin-right: 6px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .section-helper{
      font-size: 12px;
      color: rgba($color: #FFF, $alpha: 0.36);
      >span,
      >svg{
        display: inline-block;
        vertical-align: middle;
      }
    }
    .section-items{
      .item-block{
        margin-bottom: 6px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &.props-strokes {
      .mixed-strokes {
        margin-top: 4px;
      }
    }
    &.props-component {
      .component-variants {
        margin-top: 4px;
        >li {
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 0;
          }
          >span {
            display: flex;
            padding: 2px 6px;
            border-radius: 2px;
            font-size: 12px;
            transition: background 0.2s;
            overflow: hidden;
            cursor: pointer;
            &:hover {
              background-color: #1C1F2A;
            }
            .property-label {
              flex-shrink: 0;
              width: 60px;
              margin-right: 6px;
              color: $white-36;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
    &.props-basic{
      .section-items{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        .copiable-input{
          flex: 0 1 47%;
        }
      }
    }
    &.props-code{
      .section-items{
        position: relative;
        border-radius: 2px;
        background: $black-2;
        .code-copy{
          position: absolute;
          top: 8px;
          right: 6px;
          width: 14px;
          height: 14px;
          color: $white-36;
          cursor: pointer;
          transition: color 0.2s;
          &:hover{
            color: $white-85;
          }
        }
        .code-box{
          display: block;
          margin: 0;
          margin-right: 24px;
          padding: 12px;
          overflow-x: auto;
          white-space: pre-wrap;
        }
      }
    }
    &.props-export{
      padding: 0;
      .section-title{
        margin-bottom: 0;
        padding: 12px;
      }
    }
  }
}
