.effect-item{
  position: relative;
  &-expanded{
    .effect-summary{
      .summary-chevron{
        transform: rotate(0)!important;
      }
    }
    .effect-extra,
    .effect-code{
      height: auto!important;
      margin-bottom: 6px!important;
    }
  }
  .effect-summary{
    display: flex;
    align-items: center;
    height: 26px;
    margin-bottom: 6px;
    border-radius: 2px;
    transition: background 0.2s;
    cursor: pointer;
    &:hover{
      background: #1b1e2a;
    }
    .summary-chevron{
      flex-shrink: 0;
      padding: 2px;
      transform: rotate(-90deg);
      transition: transform 0.2s;
    }
    .effect-thumbnail{
      width: 18px;
      height: 18px;
      margin: 0 4px;
    }
    .summary-name{
      flex: 1;
    }
    .summary-blur{
      width: 60px;
    }
  }
  .effect-extra{
    height: 0;
    margin-bottom: 0;
    margin-left: 22px;
    overflow: hidden;
  }
  .effect-code{
    height: 0;
    margin-bottom: 0;
    margin-left: 22px;
    overflow: hidden;
  }
}
