@import '~assets/tokens.scss';

.style-item{
  display: flex;
  padding: 7px 12px;
  color: $white-85;
  transition: background 0.2s;
  cursor: pointer;
  &-hoverable{
    &:hover,
    &.selected{
      background: #141723;
    }
  }
  .item-preview{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border-radius: 9px;
    border: 1px solid #3d3e44;
    overflow: hidden;
  }
  &-effect{
    .item-preview{
      border: none;
    }
  }
}
