@import 'assets/tokens.scss';

.style-item{
  display: flex;
  padding: 7px 12px;
  color: $white-85;
  transition: opacity 0.2s, background-color 0.2s;
  opacity: 1!important;
  cursor: default;
  &-hoverable {
    cursor: pointer;
    &:hover{
      opacity: 0.86!important;
    }
  }
  &-selectable {
    cursor: pointer;
    &:hover{
      background-color: #141723;
    }
  }
  .item-preview{
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border-radius: 9px;
    border: 1px solid #3d3e44;
    overflow: hidden;
  }
  &-effect{
    .item-preview{
      border: none;
    }
  }
}
