@import '~assets/tokens.scss';

.frame-selector{
  position: relative;
  outline: none;
  &-result{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
    padding: 4px 11px;
    color: $white-85;
    background: $black-2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 0;
  }
  .input{
    position: relative;
    background: transparent;
    z-index: 1;
    &:focus{
      background-color: rgba($black-2, 0.8);
    }
    &-has-value{
      background-color: rgba($black-2, 0.8);
    }
  }
}
