@import 'assets/tokens.scss';

.main-left{
  position: relative;
  width: 240px;
  transition: width 0.2s;
  &.collapsed {
    width: 0;
    .collapse-button {
      display: block;
    }
  }
  .collapse-button {
    display: none;
  }
  &:hover {
    .collapse-button {
      display: block;
    }
  }
  .left-sider {
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    height: 100%;
    flex-shrink: 0;
    background: #222531;
    .left-sider-tabs{
      display: flex;
      justify-content: space-around;
      padding: 0 12px;
      border-bottom: 1px solid $black-4;
      li{
        padding: 8px 0;
        font-size: 12px;
        opacity: 0.65;
        border-bottom: 2px solid transparent;
        cursor: pointer;
        &:hover, &.selected{
          opacity: 1;
          border-color: #FFF;
        }
      }
    }
    .left-sider-list{
      height: calc(100% - 34px);
      &.without-tab{
        height: 100%;
      }
      .list-filter{
        position: relative;
        padding: 12px;
        border-bottom: 1px solid $black-4;
        >.filter-clear{
          position: absolute;
          right: 16px;
          top: 18px;
          color: $white-36;
          transition: color 0.2s;
          cursor: pointer;
          &:hover{
            color: $white-65;
          }
        }
      }
      .list-container{
        height: calc(100% - 50px);
        overflow: auto;
        .list-item {
          display: flex;
          align-items: center;
          padding: 12px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          transition: background 0.2s;
          &:hover{
            background: #141723;
          }
          &-hidden{
            display: none;
          }
          &.selected{
            background: #303446;
          }
          .item-thumbnail{
            flex-shrink: 0;
            width: 46px;
            height: 46px;
            margin-right: 8px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-color: #111421;
          }
          span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        &.nested-frames {
          height: 100%;
        }
        &.frames {
          .frames-page {
            border-bottom: 1px solid $black-4;
            &:last-child {
              border-bottom: none;
            }
            h4 {
              position: sticky;
              top: 0;
              display: flex;
              align-items: center;
              margin: 0;
              padding: 6px 12px;
              font-size: 12px;
              color: $white-65;
              background-color: $black-3;
              cursor: pointer;
              z-index: 1;
              span {
                flex: 1;
              }
              svg {
                transition: transform 0.2s;
              }
              &:hover{
                background: $black-2;
              }
            }
            >ul {
              transition: height 0.2s;
              overflow: hidden;
            }
            &-collapsed {
              h4 svg {
                transform: rotate(180deg);
              }
              >ul {
                height: 0!important;
              }
            }
          }
        }
      }
    }
  }
}
