@import "assets/tokens.scss";

.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0.36);
  z-index: 10000;
  &.modal-hidden{
    display: none;
  }
  .modal{
    position: relative;
    width: 500px;
    padding: 36px;
    border-radius: 2px;
    background: $black-1;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.26);
    &-close{
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
}
