@import 'assets/tokens.scss';

.settings{
  .form{
    &:not(:last-child){
      margin-bottom: 20px;
    }
    .settings-title{
      color: $white-36;
    }
    .form-item{
      &-checkbox{
        label{
          display: flex;
          align-items: center;
          padding: 2px 0;
          color: $white-100;
          transition: color 0.2s;
          cursor: pointer;
          &:hover{
            color: $white-85;
          }
          input {
            margin-right: 4px;
          }
        }
        .help-block{
          margin-left: 24px;
          padding: 0;
          font-size: 12px;
        }
      }
    }
  }
}