.app-header{
  display: flex;
  align-items: center;
  padding: 5px 12px;
  color: #FFF;
  background: #191C28;
  .header-logo{
    height: 30px;
  }
  .header-name{
    flex: 1;
    line-height: 30px;
    text-align: center;
  }
}