@import '~assets/tokens.scss';

.main-right{
  position: relative;
  width: 260px;
  height: 100%;
  background: #222531;
  transition: width 0.2s;
  &.collapsed {
    width: 0;
  }
  .right-pannels {
    position: relative;
    width: 260px;
    height: 100%;
    transition: transform 0.2s;
    overflow: hidden;
    &-out {
      .right-styles,
      .right-props {
        transform: translateX(-260px);
      }
    }
  }
}
