.main-right-props{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: #222531;
  overflow: auto;
  z-index: 1;
  transform: translateX(240px);
  transition: transform 0.2s;
  &-entered{
    transform: translateX(0);
  }
  .props-section{
    padding: 12px;
    border-bottom: 1px solid #383941;
    .section-title{
      display: flex;
      align-items: center;
      margin: 0;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      .title-name{
        flex: 1;
      }
      .title-reference{
        display: flex;
        align-items: center;
        font-weight: normal;
        .reference-preview{
          width: 16px;
          height: 16px;
          border-radius: 8px;
          border: 1px solid #3d3e44;
          overflow: hidden;
        }
        .reference-name{
          margin: 0 4px;
        }
        >svg{
          flex: 1 1 14px;
        }
      }
    }
    .section-helper{
      font-size: 12px;
      color: rgba($color: #FFF, $alpha: 0.36);
      >span,
      >svg{
        vertical-align: middle;
      }
    }
    .section-items{
      .item-block{
        margin-bottom: 6px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &.props-basic{
      .section-items{
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        .copiable-input{
          flex: 0 1 47%;
        }
      }
    }
  }
}
