@import '~assets/tokens.scss';
@import '~prismjs/themes/prism-tomorrow.css';

.main-right-props{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: #222531;
  z-index: 1;
  transform: translateX(260px);
  transition: transform 0.2s;
  &-entered{
    transform: translateX(0);
  }
  .right-props{
    height: 100%;
    overflow: auto;
    transition: transform 0.2s;
    &-hidden{
      transform: translateX(-260px);
    }
    .props-section{
      padding: 12px;
      border-bottom: 1px solid #383941;
      &:last-child{
        border-bottom: none;
      }
      .section-title{
        display: flex;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .title-name{
          flex: 1;
        }
        &.section-name{
          margin: 0;
          span{
            flex: 1;
            margin-right: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .section-helper{
        font-size: 12px;
        color: rgba($color: #FFF, $alpha: 0.36);
        >span,
        >svg{
          vertical-align: middle;
        }
      }
      .section-items{
        .item-block{
          margin-bottom: 6px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      &.props-basic{
        .section-items{
          display: flex;
          flex-flow: wrap;
          justify-content: space-between;
          width: 100%;
          font-size: 12px;
          .copiable-input{
            flex: 0 1 47%;
          }
        }
      }
      &.props-code{
        .code-box{
          position: relative;
          display: block;
          margin: 0;
          padding: 12px;
          border-radius: 2px;
          background: $black-2;
          overflow-x: auto;
          .code-copy{
            position: absolute;
            top: 8px;
            right: 6px;
            width: 14px;
            height: 14px;
            color: $white-36;
            cursor: pointer;
            transition: color 0.2s;
            &:hover{
              color: $white-85;
            }
          }
        }
      }
      &.props-export{
        padding: 0;
        .section-title{
          margin-bottom: 0;
          padding: 12px;
        }
      }
    }
  }
}
