.style-detail{
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: transform 0.2s;
  background: #222531;
  &-visible{
    transform: translateX(-100%);
  }
  .detail-title{
    display: flex;
    padding-right: 12px;
    align-items: center;
    line-height: 36px;
    svg{
      margin-right: 4px;
      padding: 8px;
      cursor: pointer;
      &:hover{
        background: #1b1e2a;
      }
    }
    .title-name{
      flex: 1;
    }
  }
  .detail-main {
    height: calc(100% - 36px);
    overflow: auto;
    .detail-preview{
      position: relative;
      height: 120px;
      >div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .preview-bg{
        background-color: #FFF;
      }
    }
    .detail-name{
      padding: 12px;
      >h5{
        margin: 0;
        margin-bottom: 6px;
      }
      .copiable-input + .copiable-input{
        margin-bottom: 6px;
      }
    }
    .detail-properties{
      padding: 12px;
      >h5{
        margin: 0;
        margin-bottom: 8px;
      }
    }
  }
}
