.main-canvas{
  position: relative;
  flex: 1;
  overflow: hidden;
  background-color: #111421;
  .canvas-help{
    position: absolute;
    bottom: 16px;
    left: 116px;
    width: 26px;
    height: 26px;
    padding: 5px;
    text-align: center;
    border-radius: 13px;
    background: #363945;
    cursor: pointer;
    z-index: 1;
    &:hover{
      background: #222531;
    }
  }
  .canvas-steper{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 96px;
    height: 26px;
    border-radius: 13px;
    background: #363945;
    cursor: pointer;
    z-index: 1;
    .steper-button{
      padding: 6px;
      transition: 0.2s background;
      &.steper-minus{
        border-radius: 13px 0 0 13px;
      }
      &.steper-plus{
        border-radius: 0 13px 13px 0;
      }
      svg{
        display: block;
      }
      &:hover{
        background: #222531;
      }
    }
    .steper-percentage{
      height: 26px;
      padding: 6px;
      line-height: 14px;
      transition: 0.2s background;
      flex: 1;
      &:hover{
        background: #222531;
      }
    }
  }
  .canvas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 60px;
    background: #111421;
    transition: none;
  }
}

.canvas-tooltip{
  .rc-tooltip-inner{
    padding: 0!important;
    overflow: hidden;
    .tooltip-quick-zoom{
      background: #363945;
      >li{
        padding: 6px 12px;
        cursor: pointer;
        transition: 0.2s background;
        &:hover{
          background: #222531;
        }
      }
    }
    .tooltip-help{
      padding: 12px;
      background: #363945;
      >li{
        margin-bottom: 6px;
        h3{
          margin: 0;
        }
      }
    }
  }
}
