@import "~assets/tokens.scss";

.container-mark{
  position: relative;
  img{
    display: block;
    width: 100%;
  }
  .mark-layers{
    position: absolute;
    width: 100%;
    height: 100%;
    .layer{
      position: absolute;
      border: 1px solid $mark-hovered;
      opacity: 0;
      transition: 0.2s opacity;
      &.hovered,
      &.current-component{
        opacity: 1;
      }
      &.group{
        border-style: dotted;
      }
      &.component{
        border-color: $component-color;
        border-style: dotted;
      }
      &.selected{
        border: 1px solid $mark-selected;
        opacity: 1;
      }
      &.component.selected{
        border-color: $component-color;
      }
      &.selected.hovered{
        .layer-sizing{
          display: block;
        }
      }
      &-component{
        position: absolute;
        top: -19px;
        left: -1px;
        width: max-content;
        padding: 0 6px;
        color: $white-85;
        background-color: $component-color;
      }
      &-sizing{
        display: none;
        position: absolute;
        padding: 0 6px;
        border-radius: 2px;
        background: $mark-selected;
        font-size: 12px;
      }
      &-width{
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
      }
      &-height{
        left: calc(100% + 3px);
        top: calc(50% - 10px);
      }
    }
  }
}
