@import "assets/tokens.scss";

.container-mark{
  position: relative;
  img{
    display: block;
    width: 100%;
  }
  .mark-artboard-name {
    position: absolute;
    top: -18px;
    left: 0;
    width: max-content;
    padding: 0 6px;
    font-size: 12px;
    color: $white-85;
    border-radius: 4px 4px 0 0;
    background-color: $black-4;
  }
  .mark-layers{
    position: absolute;
    width: 100%;
    height: 100%;
    &-exports-visible{
      .layer.has-exports{
        opacity: 1;
        background-color: rgba($color: $mark-hovered, $alpha: 0.16);
      }
    }
    .layer{
      position: absolute;
      border: 1px solid $mark-hovered;
      opacity: 0;
      transition: 0.2s opacity;
      &.hovered,
      &.closest-component {
        opacity: 1;
      }
      &.component-inspect-disabled {
        background-color: rgba($color: $component-color, $alpha: 0.16);
      }
      &.custom-inspect-disabled {
        background-color: rgba($color: $primary-color, $alpha: 0.16);
      }
      &.group{
        border-style: dotted;
      }
      &.component{
        border-color: $component-color;
        border-style: dotted;
      }
      &.selected{
        border: 1px solid $mark-selected;
        opacity: 1;
        &.has-exports{
          opacity: 1;
          background-color: rgba($color: $mark-hovered, $alpha: 0.16);
        }
        &.group{
          border-style: dotted;
        }
      }
      &.component.selected{
        border-color: $component-color;
      }
      &.selected.hovered{
        .layer-sizing{
          display: block;
        }
      }
      &.percentage-highlight {
        opacity: 1;
        border-color: rgba($color: $primary-color, $alpha: 0.12);
        background-color: rgba($color: $primary-color, $alpha: 0.12);
      }
      &-component {
        position: absolute;
        top: -19px;
        left: -1px;
        width: max-content;
        color: $white-85;
        background-color: $component-color;
        z-index: 1;
        .component-copy {
          padding: 0 6px;
          cursor: pointer;
          >svg {
            display: inline-block;
            vertical-align: middle;
            margin-left: 4px;
          }
        }
      }
      &-sizing{
        display: none;
        position: absolute;
        padding: 0 6px;
        border-radius: 2px;
        background: $mark-selected;
        font-size: 12px;
        pointer-events: none;
        z-index: 1;
      }
      &-width{
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
      }
      &-height{
        left: calc(100% + 3px);
        top: calc(50% - 10px);
      }
    }
  }
}
