.mark-distance{
  position: absolute;
  background: #2ca7fb;
  &-sizing{
    position: absolute;
    padding: 0 6px;
    border-radius: 2px;
    background: #2ca7fb;
    font-size: 12px;
    pointer-events: none;
  }
  &-v{
    width: 1px;
    .mark-distance-sizing{
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
    }
  }
  &-h{
    height: 1px;
    .mark-distance-sizing{
      position: absolute;
      bottom: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
