@import "assets/tokens.scss";

.app-entry{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: $black-0;
  .entry-producthunt{
    position: fixed;
    bottom: 36px;
    right: 36px;
    width: 180px;
    height: 39px;
    img{
      width: 100%;
    }
  }
  .entry-container{
    padding: 60px 0;
    .entry-logo{
      text-align: center;
      img{
        width: 120px;
      }
    }
    .entry-main{
      padding: 30px 0;
      text-align: center;
      p{
        width: 360px;
        text-align: left;
        a{
          color: $primary-color;
        }
      }
      .main-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        .btn{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 6px;
          padding: 5px 16px;
          svg{
            margin-right: 4px;
          }
        }
      }
    }
    .entry-coffee{
      position: relative;
      width: 360px;
      padding: 0 15px;
      padding-top: 60px;
      text-align: center;
      .coffee-close{
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 6px;
        border-radius: 2px;
        color: $white-65;
        transition: color 0.2s;
        cursor: pointer;
        &:hover{
          color: $white-85;
        }
      }
      img{
        width: 240px;
        border-radius: 12px;
      }
      .coffee-or{
        margin: 10px 0;
        color: $white-36;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .entry-footer{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      padding: 10px 0;
      .footer-stretch{
        flex: 1;
      }
      .footer-language{
        position: relative;
        display: flex;
        align-items: center;
        padding: 3px 5px;
        >select{
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          height: 20px;
          cursor: pointer;
        }
        >svg{
          display: block;
          margin-right: 6px;
        }
      }
      .footer-item{
        padding: 5px;
        >svg{
          display: block;
        }
      }
    }
    .entry-social{
      padding-top: 100px;
      h5{
        margin: 0;
        margin-bottom: 6px;
        color: $white-16;
      }
      .social-item{
        margin-bottom: 6px;
        cursor: pointer;
        >span,>a{
          color: $white-36;
          &:hover{
            opacity: 0.85;
          }
        }
        svg{
          vertical-align: middle;
        }
      }
    }
  }
}
