@import "~assets/tokens.scss";

.app-entry{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: $black-0;
  .entry-producthunt{
    position: fixed;
    bottom: 36px;
    right: 36px;
    width: 180px;
    height: 39px;
    img{
      width: 100%;
    }
  }
  .entry-container{
    padding: 60px 0;
    .entry-logo{
      text-align: center;
      img{
        width: 120px;
      }
    }
    .entry-demo{
      margin-bottom: 12px;
      text-align: center;
    }
    .entry-plugin{
      padding: 80px 0;
      text-align: center;
      p{
        width: 360px;
        text-align: left;
      }
      .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px auto;
        svg{
          margin-right: 4px;
        }
      }
      .plugin-still-online{
        font-size: 12px;
      }
    }
    .entry-block{
      width: 360px;
      .block-back{
        display: flex;
        align-items: center;
      }
      >[class^=entry-]{
        padding: 15px 0;
        border-bottom: 1px solid $white-8;
      }
      .entry-form{
        display: none;
        &.form-visible{
          display: block;
        }
      }
      .form-item-right{
        display: flex;
        justify-content: flex-end;
        .btn-round{
          display: flex;
          align-items: center;
          >span{
            margin-right: 4px;
          }
        }
      }
      .entry-basic{
        .basic-abstract{
          display: none;
          &.abstract-visible{
            display: flex;
          }
          .abstract-thumbnail{
            width: 50px;
            height: 50px;
            margin-right: 6px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $black;
            border-radius: 2px;
          }
          h5{
            margin: 0;
            margin-bottom: 6px;
          }
          p{
            color: $white-65;
          }
        }
      }
      .entry-options{
        label{
          cursor: pointer;
          &.options-label{
            a{
              position: relative;
              top: 2px;
              margin-left: 4px;
            }
          }
        }
        .help-block{
          color: $white-36;
        }
        .btn-generate{
          position: relative;
          border: none;
          overflow: hidden;
          span{
            position: relative;
            z-index: 1;
          }
          .entry-progress{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #2650F3;
            transition: width 0.2s;
          }
        }
      }
    }
    .entry-coffee{
      position: relative;
      width: 360px;
      padding: 0 15px;
      padding-top: 60px;
      text-align: center;
      &-downloaded{
        padding-top: 36px;
      }
      .coffee-close{
        position: absolute;
        top: 12px;
        right: 12px;
        padding: 6px;
        border-radius: 2px;
        color: $white-65;
        transition: color 0.2s;
        cursor: pointer;
        &:hover{
          color: $white-85;
        }
      }
      .coffee-congratulation{
        margin-bottom: 32px;
        h2{
          margin: 6px 0;
        }
        p{
          margin: 6px 0;
          color: $white-65;
        }
      }
      img{
        width: 240px;
        border-radius: 12px;
      }
      .coffee-or{
        margin: 10px 0;
        color: $white-36;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .entry-footer{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: right;
      padding: 10px 0;
      .footer-stretch{
        flex: 1;
      }
      .footer-language{
        position: relative;
        display: flex;
        align-items: center;
        padding: 3px 5px;
        >select{
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          height: 20px;
          cursor: pointer;
        }
        >svg{
          display: block;
          margin-right: 6px;
        }
      }
      .footer-item{
        padding: 5px;
        >svg{
          display: block;
        }
      }
    }
    .entry-social{
      padding-top: 100px;
      h5{
        margin: 0;
        margin-bottom: 6px;
        color: $white-16;
      }
      .social-item{
        margin-bottom: 6px;
        cursor: pointer;
        >span,>a{
          color: $white-36;
          &:hover{
            opacity: 0.85;
          }
        }
        svg{
          vertical-align: middle;
        }
      }
    }
  }
}
