@import "~assets/tokens.scss";

.entry-selection{
  .selection-frames{
    height: 240px;
    background: $black;
    border-radius: 2px;
    overflow: auto;
    .frames-page{
      &-collapsed{
        .frames-header{
          .header-caret{
            transform: rotate(-90deg);
          }
        }
        .frames-items{
          height: 0!important;
        }
      }
      .frames-header{
        display: flex;
        align-items: center;
        background: $black;
        border-bottom: 1px solid $black-0;
        transition: background 0.2s;
        &:hover{
          background: $black-1;
        }
        .header-caret{
          padding: 3px;
          cursor: pointer;
          transition: transform 0.2s;
          svg{
            display: block;
          }
        }
        >label{
          flex: 1;
          padding: 3px 0;
          color: $white-65;
          cursor: pointer;
        }
      }
      .frames-items{
        transition: height 0.2s;
        overflow: hidden;
        .frames-item{
          display: block;
          padding: 3px;
          padding-left: 36px;
          cursor: pointer;
          transition: background 0.2s;
          &:hover{
            background: $black-1;
          }
        }
      }
    }
  }
  .selection-all-select{
    padding: 6px;
    label{
      cursor: pointer;
    }
  }
  .selection-selected{
    .selected-section{
      .section-title{
        margin: 0;
        margin-bottom: 6px;
        color: $white-36;
      }
      .section-items{
        .section-item{
          display: inline-block;
          margin-bottom: 6px;
          margin-right: 6px;
          padding: 2px 8px;
          border-radius: 10px;
          background-color: $black-2;
          white-space: nowrap;
        }
      }
    }
  }
}
