@import "assets/tokens.scss";

.entry-title{
  display: flex;
  &-with-bottom{
    margin-bottom: 12px;
  }
  .title-step{
    width: 18px;
    height: 18px;
    margin-right: 6px;
    border-radius: 9px;
    text-align: center;
    font-weight: bold;
    color: $black-0;
    background-color: $white-36;
  }
  .title-content{
    color: $white-36;
    font-weight: 500;
  }
  .title-stretch{
    flex: 1;
  }
  .title-edit{
    width: 18px;
    padding: 3px;
    color: $white-85;
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.2s;
    &:hover{
      background: $black;
    }
    svg{
      display: block;
    }
  }
}