@import './tokens.scss';
@import './typo.scss';
@import './utils.scss';
@import './component.scss';
@import './input.scss';
@import './form.scss';
@import './button.scss';
@import './motion.scss';

@import '~rc-tooltip/assets/bootstrap.css';
@import '~rc-input-number/assets/index.css';

html, body, #root {
  width: 100%;
  height: 100%;
}

body.heron-handoff {
  margin: 0;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  overscroll-behavior-x: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  * {
    box-sizing: border-box;
  }
  
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  p{
    margin: 0;
    padding: 0;
  }
  
  a{
    color: $white-85;
    text-decoration: none;
    &:hover{
      opacity: 0.86;
    }
  }  
}
