@import 'assets/utils.scss';
@import 'assets/component.scss';
@import 'assets/input.scss';
@import 'assets/form.scss';
@import 'assets/button.scss';

@import '~rc-tooltip/assets/bootstrap.css';

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

p{
  margin: 0;
  padding: 0;
}

a{
  color: #FFF;
  text-decoration: none;
  &:hover{
    opacity: 0.86;
  }
}