@import './tokens.scss';

// 基类
.btn{
  outline:none;
  display: inline-block;
  border:none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  line-height: 20px;
  font-size: 12px;
  padding: 2px 12px;
  border: 1px solid transparent;
  background-image: none;
  color: #333;
  background: #999;
  transition: all 0.6s;
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
  &:disabled {
    text-decoration: none;
    cursor: not-allowed;
  }
  >svg{
    display: block;
  }

  &.btn-primary{
    color: #FFF;
    background: $primary-color;
    &:hover{
      background: darken($primary-color, 6%);
    }
  }

  &.btn-white-o{
    color: $white-85;
    border-color: $white-85;
    background: transparent;
    &:hover{
      color: $primary-color;
      background: $white-85;
    }
  }

  &.btn-block{
    display: block;
    width: 100%;
  }
  
  &.btn-round{
    border-radius: 13px;
  }
}

.btn-lg{
  height: 32px;
  padding: 5px 10px;
  font-size: 14px;
  
  &.btn-round{
    border-radius: 16px;
  }
}
