@import './tokens.scss';
@import './mixin.scss';

.rc-tooltip{
  opacity: 1;
  .rc-tooltip-inner{
    padding: 6px 12px;
    min-height: 30px;
    border-radius: 6px;
    background-color: $overlay-background;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.26);
    img{
      width: 100%;
    }
  }
  &-placement-top,
  &-placement-topLeft{
    .rc-tooltip-arrow{
      border-top-color: $overlay-background;
    }
  }
  &-placement-bottom,
  &-placement-bottomRight{
    .rc-tooltip-arrow{
      border-bottom-color: $overlay-background;
    }
  }
  &-placement-right{
    .rc-tooltip-arrow{
      border-right-color: $overlay-background;
    }
  }
  @mixin slide-effect {
    animation-duration: 0.02s;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  &-slide-enter {
    @include slide-effect;
    opacity: 1!important;
    transform: translateY(5px);
    animation-play-state: paused;
    &.rc-tooltip-slide-enter-active {
      animation-name: slideIn;
      animation-play-state: running;
    }
  }
  &-slide-leave {
    @include slide-effect;
    animation-play-state: paused;
    &.rc-tooltip-slide-leave-active {
      animation-name: slideOut;
      animation-play-state: running;
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(5px);
    }
  }
}

.rc-cascader {
  font-size: 12px;
  &-menus {
    font-size: 12px;
    overflow: hidden;
    color: $white-100;
    background: $overlay-background;
    backdrop-filter: blur(8px);
    position: absolute;
    border-radius: 6px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.26);
    white-space: nowrap;
    >div{
      display: flex;
    }

    &-hidden {
      display: none;
    }

    &.slide-up-enter, &.slide-up-appear {
      @include effect;
      opacity: 0;
      animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
      animation-play-state: paused;
    }

    &.slide-up-leave {
      @include effect;
      opacity: 1;
      animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
      animation-play-state: paused;
    }
    &-placement-bottomLeft,
    &-placement-bottomLeft {
      &.slide-up-enter.slide-up-enter-active,
      &.slide-up-appear.slide-up-appear-active {
        animation-name: SlideUpIn;
        animation-play-state: running;
      }
    }
    &-placement-topLeft,
    &-placement-topLeft {
      &.slide-up-enter.slide-up-enter-active,
      &.slide-up-appear.slide-up-appear-active {
        animation-name: SlideDownIn;
        animation-play-state: running;
      }
    }
    &-placement-bottomLeft{
      &.slide-up-leave.slide-up-leave-active {
        animation-name: SlideUpOut;
        animation-play-state: running;
      }
    }
    &-placement-topLeft {
      &.slide-up-leave.slide-up-leave-active {
        animation-name: SlideDownOut;
        animation-play-state: running;
      }
    }
  }
  &-menu {
    width: 216px;
    height: 192px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid $white-8;
    overflow: auto;
    &:last-child {
      border-right: 0;
    }
  }
  &-menu-item {
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    position: relative;
    &:hover {
      background: $black-2;
    }
    &-disabled {
      cursor: not-allowed;
      color: $white-16;
      &:hover {
        background: transparent;
      }
    }
    &-loading:after {
      position: absolute;
      right: 12px;
      content: 'loading';
      color: $white-16;
      font-style: italic;
    }
    &-active {
      background: $black-3;
      &:hover {
        background: $black-3;
      }
    }
    &-expand {
      position: relative;
      &-icon {
        font-size: 12px;
        color: #999;
        position: absolute;
        right: 2px;
        line-height: 32px;
        svg{
          vertical-align: middle;
          color: $white-36;
        }
      }
    }
  }
}

.rc-input-number{
  @include input-base;
  width: 100%;
  height: 26px;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0;
  padding-left: 10px;
  &:hover{
    border: 1px solid fade-out($primary-color, 0.36);
    .rc-input-number-handler-wrap {
      border-color: $white-16;
    }
  }
  &-focused{
    border: 1px solid transparent;
    box-shadow: none;
  }
  .rc-input-number-input-wrap{
    .rc-input-number-input{
      text-align: left;
      color: $white-85;
      background: #1C1F2A;
    }
  }
  .rc-input-number-handler-wrap {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $white-16;
    .rc-input-number-handler{
      flex: 1 1 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
      cursor: pointer;
      &:hover{
        flex: 1 0 66.67%;
        background: $white-16;
        .rc-input-number-handler-up-inner,
        .rc-input-number-handler-down-inner{
          color: $white-85;
        }
      }
      &-up-inner,
      &-down-inner{
        
        color: $white-36;
      }
    }
    .rc-input-number-handler-up{
      border-bottom: none;
    }
  }
}
