.form{
	.form-item{
		position: relative;
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
		&-actions{
			margin-top: 20px;
			text-align: right;
			button{
				margin-left: 10px;
			}
		}
		.help-block{
			padding: 3px;
			font-size: 12px;
			color: #AAA;
		}
		&.has-error{
			.help-block{
				color: #f24d1d;
			}
		}
	}
}