@import './tokens.scss';
@import './mixin.scss';

//文本输入框
.input{
  width: 100%;
  height: 26px;
  border: 1px solid transparent;
  border-radius: 2px;
  @include input-base;
  &:focus{
    border: 1px solid fade-out($primary-color, 0.36);
  }
  &:hover{
    border: 1px solid fade-out($primary-color, 0.36);
  }
  &::placeholder{
    color: $white-36;
  }
  &[disabled]{
    opacity: 0.6;
    cursor: not-allowed;
    &:hover,
    &:active,
    &:focus{
      border-color: transparent;
    }
  }
  &[readonly]{
    color: $white-65;
    &:hover,
    &:active,
    &:focus{
      border-color: transparent;
    }
  }
}

textarea.input{
  padding: 5px 10px;
  resize: vertical;
  height: auto;
}

.input-lg{
  height: 32px;
  padding: 5px 10px;
  line-height: 16px;
  font-size: 14px;
}
