.motion-loading{
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.motion-swing{
  animation: swing 2.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes swing {
  0% {
    transform: translate(0);
  }
  2% {
    transform: translate(2px);
  }
  6% {
    transform: translate(-2px);
  }
  10% {
    transform: translate(2px);
  }
  14% {
    transform: translate(-2px);
  }
  18% {
    transform: translate(2px);
  }
  22% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}