.app-entry{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: #111421;
  .entry-container{
    width: 360px;
    padding: 15px;
    .form-logo{
      text-align: center;
      img{
        width: 120px;
      }
    }
  }
}