@import "assets/tokens.scss";

html, body, #root {
  width: 100%;
  height: 100%;
}
body {
  overscroll-behavior-x: none;
}
.app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $white-85;
}
