@import 'assets/tokens.scss';

.collapse-button {
  outline: none;
  position: absolute;
  top: 18px;
  width: 16px;
  height: 32px;
  padding: 0;
  color: $white-65;
  background-color:  #363945;
  border: none;
  vertical-align: middle;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1000;
  &-left {
    right: -16px;
    border-radius: 0 6px 6px 0;
  }
  &-right {
    left: -16px;
    border-radius: 6px 0 0 6px;
  }
  &:hover{
    color: #FFF;
    background: #222531;
  }
}
