.input-group{
  position: relative;
  display: flex;
  background: #1C1F2A;
  border-radius: 2px;
  transition: background 0.2s;
  overflow: hidden;
  >*{
    flex: 1;
  }
  .copiable-input{
    border-radius: 0;
  }
  .copiable-input{
    &:not(:last-child){
      >input{
        padding-right: 0;
      }
    }
  }
  &-quiet{
    background: transparent;
    .copiable-input{
      background: transparent;
    }
    &:hover{
      background: #1C1F2A;
    }
  }
}
