.input-group{
  position: relative;
  display: flex;
  padding: 6px;
  background: #1C1F2A;
  border-radius: 2px;
  transition: background 0.2s;
  .copiable-input{
    padding: 0 6px;
    border-radius: 0;
  }
  &.input-group-divided{
    .copiable-input{
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
      &:not(:last-child){
        border-right: 1px solid #2f3446;
      }
    }
  }
  &.input-group-quiet{
    background: transparent;
    .copiable-input{
      background: transparent;
    }
    &:hover{
      background: #1C1F2A;
    }
  }
}
