name: deploy-to-pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - run: npm install
    - run: echo PUBLIC_URL=. > ./.env
    - run: echo IMAGE_INLINE_SIZE_LIMIT=100000 >> ./.env
    - run: npm run build
    - name: GitHub Pages
      uses: crazy-max/ghaction-github-pages@v1.2.5
      with:
        build_dir:  build
      env:
        GITHUB_TOKEN: ${{ secrets.TOKEN }}
